<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8"> <!--Possivelmente eu vou ter que remover essas três tags-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body style="border: 0px; padding: 0px; margin: 0px;">

    <table style="margin: auto; border-collapse: collapse;">

        
        <th>
            <tr>
                <td style="min-width:320px; max-width: 800px; border-style: solid; border-width: 1px; border-color: rgb(221,221,221); text-align: center;">
                    <h2>
                        <strong>
                            <a href="#" target="_blank" style="text-decoration: none;
                            color: rgb(44,103,205); font-family: open_sansbold,arial,helvetica,sans-serif;">
                                INSTITUTO FEDERAL DA PARAÍBA</a> - <a href="https://www.ifpb.edu.br/pedrasdefogo" target="_blank" style="text-decoration: none;
                                color: rgb(44,103,205); font-family: open_sansbold,arial,helvetica,sans-serif;">CAMPUS PEDRAS DE FOGO</a>
                                <br>
                                <a href="#" target="_blank" style="text-decoration: none; color: rgb(44,103,205); font-family: open_sansbold,arial,helvetica,sans-serif;">
                                    NEWSLETTER
                            </a>
                        </strong>
                    </h2>
                </td>
            </tr>
        </th>
        
        <tr>
            <td style="border-style: solid; border-width: 1px; border-color: rgb(221,221,221); min-width: 320px; max-width: 800px; padding-bottom: 2em;"></td>
        </tr>

    
        <tr>
            <td style="min-width:320px; max-width: 800px; border-style: solid; border-width: 1px; border-color:rgb(221,221,221); padding-left: 1em; padding-right: 1em;">
                
                {% for dado in dados %}
                    <div style="padding-left: 1.8em; border-left-width: 1px; border-left-style: dotted; border-left-color:rgb(214,214,214); margin-bottom: 40px" >
                        <h2 style="font-family: arial,helvetica,sans-serif; font-size: 1.3em;">
                            <a href="{{dado.url_noticia}}" target="_blank" style="text-decoration: none; color: rgb(23,41,56);">
                            <img src="{{dado.img_href}}" alt="{{dado.img_alt}}" style="height: 73px; width: 128px; border-radius: 5px; border:0px; float: left; margin-right: 1em; margin-bottom: 0.5em; font-size: small; font-family: Arial,Helvetica,sans-serif; line-height: 1.5; font-weight: lighter;">
                            <span style="line-height: 1.3em;">{{dado.titulo_noticia}} </span>
                            </a>
                            <p style="padding-top: 16px; font-size: 13.728px;; font-family: arial,helvetica,sans-serif; font-weight: lighter; color: rgb(23,41,56); line-height: 1.8em;">
                                {{dado.noticia_descricao}}
                            </p>
                        </h2>
                    </div>
                {% endfor %}
                
            </td>
        </tr>

        <tr>
            <td style="min-width:320px; max-width: 800px; border-style: solid; border-width: 1px; border-color:rgb(221,221,221);  text-align: right; padding-right: 1em;">
                <p style="margin-top: 16px; margin-bottom: 8px">
                    IFPB - Pedras de Fogo 
                    <br>
                    CEP: 58382-000
                    <br>
                    Fone: +55 (83) 991247844 <img id="whatsapp" src="https://raw.githubusercontent.com/MatheusHFerreiraLima/HTML-CSS/main/imagens/whatsapp-logo.jpg" alt="WhatsApp" style="width: 18px;
                    height: 17px;
                    padding: 0px;">
                    <br>
                    E-mail: <a href="mailto:homemaranhaex@gmail.com" target="_blank"> homemaranhaex@gmail.com</a>
                </p>
            </td>
        </tr>
    
    
        <tr>
            <td style=" min-width: 320px; max-width: 800px; padding-bottom: 130px;"> 
            
            </td>
        </tr>
    
        <tr>
            <td style="min-width: 320px; max-width: 800px; border-top-width: 1px; border-top-style: solid; border-top-color: black; padding-left: 5px; padding-top: 32px; padding-bottom: 32px; font-family: Arial,Helvetica,sans-serif; font-size: small; line-height: 1.5;">
                <p>
                    Você recebeu essa mensagem porque está inscrito na lista "Newsletter IFPB - Pedras de Fogo".
                    <br> <br>
                    Para cancelar sua inscrição nessa lista e parar de receber os e-mails envie um e-mail para <a href="mailto:homemaranhaex@gmail.com" target="_blank">homemaranhaex@gmail.com</a> ou acesse o site:
                    <br> <br>
                    <a href="https://ifpb.edu.br" target="_blank">https://ifpb.edu.br</a>
                </p>
            </td>
        </tr>

    </table>

</body>
</html>