<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Newsletter</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
  <div class="container">
    <img src="{% static 'imagens/CampusPedrasdeFogo.png' %}" alt="Campus Pedras de Fogo - Imagem"> 
    <h1>Receba nossa newsletter:</h1>
    <form class="form-group" id="email-form" method="post" action="{% url 'polls:processa_formulario' %}">
      
      <input type="email" id="email-input" name="email" placeholder="Digite seu e-mail" oninput="handleInputChange(event)">
      <button type="submit" id="botao-inscricao" class="botao-inscricao" disabled>Inscrever-se</button>
    </form>
  </div>
<script src="script.js"> </script>
</body>
</html>
